/* You will create a CSS stylesheet in /public/css/lab10.css; this file should have at least 10 rulesets.  You will need to utilize all 10 rulesets on each of the pages (not every page has to use all 10 rulesets each but all 10 rulesets must be utilized by the various pages in your application).  So you can have some rulesets for one page, some for another page but there needs to be at least 10 total rulesets that are used between all the pages.  */

form {
  width: 25%;
  /* padding-left: 25%; */
}

input {
  width: 100%;
  /* padding: 10px; */
}

input[type=submit] {
  width:25%;
  /* for some reason, 100% width does not actully work on the buttons? */
}
/* From https://coder-coder.com/how-to-center-button-with-html-css/ */
.text-center {
  text-align: center;
}

p.error {
  color: rgb(255 85 85);
}