{{!--

If the user is logged in and they are an admin user, and 'GET /admin' endpoint is called, you will render this view
based on the specs.



--}}


<p>Welcome {{user.firstName}}, the time is now: {{currentTime}}. You get super secret admin access since you are an admin. Remember, with great power comes great responsibility</p>
<br><br>

<a href="/protected">Click here to got to the protected page</a>
<br><br>

<a href="/logout">Click here to log out</a>